/*--//********************************************
//FirstStyles.css
//
//This file serves as my stylesheet which allows my webpages to show more design.
//
///Created by: Tej Patel
///Date Created: 4/22/2014
///Last Modified by: Tej Patel
///Date Last Modified: 4/28/2014
///Assignment/Project: Timelook
///Part of: Final Project--*/ -->

/*The header will typically act as the title box of my webpages*/
#Header {
    background-color: #C0C0C0;
    width: 844px;
    height: 83px;
    font-size: 38px;
}
    /*This nested header will consist of a different background color.*/
    #Header h1 {
        background-color: #f00;
        width: 844px;
        height: 83px;
        font-size: 38px;
    }
    /*This nested header will consist of a different background color.*/
    #Header h2 {
        background-color: #4cff00;
        width: 844px;
        height: 83px;
        font-size: 38px;
    }
    /*This nested header will consist of a different background color.*/
    #Header h3 {
        background-color: #ffd800;
        width: 844px;
        height: 83px;
        font-size: 38px;
    }
    /*This nested header will consist of a different background color.*/
    #Header h4 {
        background-color: #b200ff;
        width: 844px;
        height: 83px;
        font-size: 38px;
    }
    /*This nested header will consist of a different background color.*/
    #Header h5 {
        background-color: #e27ed1;
        width: 844px;
        height: 83px;
        font-size: 38px;
    }
/*This will enforce the font to be Arial style.*/
* {
    font-family: Arial;
}
/*The h1 tag will be of larger font than original*/
h1 {
    font-size: 20px;
}

#PageWrapper {
    width: 844px;
}
#MenuWrapper {
    width: 844px;
}
#MainContent {
    width: 644px;
    float: left;
}
#Sidebar {
    background-color: gray;
    width: 200px;
    float: left;
}
#Footer {
    background-color: #C0C0C0;
    width: 844px;
    clear: both;
}
